@page "/"
@using System.Text.Json
@using Community.Blazor.MapLibre.Models.Control

<h2>Introduction</h2>
Community.Blazor.Maplibre is a wrapper around <a href="https://maplibre.org/">MapLibre-GL-JS library</a>
<div class="d-flex flex-column flex-sm-row gap-3">
    <div class="col">
        <h3>Quickstart</h3>
        <div class="shadow rounded">
            <div class="mb-3 rounded">
                <Map Class="rounded"></Map>
            </div>

            <div class="container alert alert-dark">
                <code>
                    &lt;Map&gt;&lt;/Map&gt;
                </code>
            </div>
        </div>
    </div>
    
    <div class="col">
        <h3>Add Listeners</h3>
        <div class="shadow rounded">
            <div class="mb-3">
                <Map @ref="_map" Options="_mapOptions" OnLoad="HandleMapLoad" Class="rounded"></Map>
            </div>

            <div class="container alert alert-dark">
                <code>
                    &lt;Map &#64;ref="_map" Options="_mapOptions" OnLoad="HandleMapLoad" &gt;&lt;/Map&gt;

                    <pre>

&#64;code
{
    private Map _map { get; set; } = new Map();
    private readonly MapOptions _mapOptions = new MapOptions();
    private async Task HandleMapLoad(EventArgs args)
    {
        // Add map listeners after it has loaded
        await _map.AddListener&lt;dynamic&gt;("click", OnClick);
    }

    public void OnClick(dynamic eventData)
    {
        Console.WriteLine(JsonSerializer.Serialize(eventData));
        Console.WriteLine("Layer has been clicked");
    }
}
</pre>

                </code>
            </div>
        </div>
    </div>
</div>


@code
{
    private Map _map { get; set; } = new Map();
    private readonly MapOptions _mapOptions = new MapOptions();
    private async Task HandleMapLoad(EventArgs args)
    {
        await _map.AddImage("sample-image", "https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Cat_silhouette.svg/400px-Cat_silhouette.svg.png");

        await _map.AddListener<dynamic>("click", OnClick);
    }

    public void OnClick(dynamic eventData)
    {
        Console.WriteLine(JsonSerializer.Serialize(eventData));
        Console.WriteLine("Layer has been clicked");
    }
}
